<h2>List of Child with Allergies</h2>


<table>
  <tbody>
    <% @children.each do |child| %>
    <tr>
      <td><li><%= link_to name(child), child_path(child) %></li></td>
      <td>Age: <%= child.age %></td>
      <td><%= link_to "Edit", edit_child_path(child) %></td>
      <td><%= link_to "Delete", child, method: :delete, data: { confirm: "Confirm Deletion" } %></td>
    </tr>
    <% end %>

  </tbody>
</table>
