
<h2>Admin Page</h2>
 <%= link_to "Log Out", {:controller=> "sessions", :action=> "destroy"}, :method => :post %>
<br><br>

<table>
  <tr><td><%= link_to "List of Classrooms", admin_classrooms_path, :'attr-classrooms' => 'classrooms' %></td></tr>
  <tr><td><%= link_to "List of Parents", admin_parents_path, :'attr-parents' => 'parents' %></td></tr>
  <tr><td><%= link_to "List of Children", admin_children_path, :'attr-children' => 'children' %></td></tr>
</table>


<div id="results"></div>
